<form action=/square/result>
<label for="calc">Enter a number</label>
<input type="text" id="calc" name="number" placeholder="What number do you want to take the square of?">
<button>Calculate square</button>
</form>
