<form action=/payment/result>
<label for="apr">APR</label>
<input type="text" id="apr" name="apr" placeholder="E.g. 5.42">

<label for="years">Number of years</label>
<input type="text" id="years" name="years" placeholder="How many years to repay?">

<label for="principal">Principal</label>
<input type="text" id="principal" name="principal" placeholder="How much principal?">

<button>Calculate monthly payment</button>
</form>
