<h1> Square Root Results </h1>

<p>APR</p>
<%= @apr %>

<p>Number of years</p>
<%= @years %>

<p>Principal</p>
<%= @principal %>

<p>Payment</p>
<%= @payment %>


<br>
<br>

<a href="/payment/new">Calculate another payment</a>
